#board {
  width: 685px;
  height: 685px;
  margin: 100px auto;
  border: 25px solid #212121;
  background-color: #212121;
  border-radius: 3px;
  text-align: center;
}

.black {
  float: left;
  width: 60px;
  height: 60px;
  background-color: #6d4c41;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #212121;
  border-radius: 3px;
}

.black:hover {
  background-color: #426d41;
}

.piece {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}

.white {
  float: left;
  width: 60px;
  height: 60px;
  background-color: #bcaaa4;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #212121;
  border-radius: 3px;
}

.white:hover {
  background-color: #a4bca6;
}

.white-piece {
  background-color: #ffffff;
  border-color: #bcaaa4;
}

.piece:hover {
  border-color: #a4bca6;
}

.black-piece {
  background-color: #000000;
  border-color: #bcaaa4;
}

#king-piece {
  background-color: #ffffff;
  border-color: #ffd54f;
}

/**
.blackFollow {
  background-color: #000000;
  border-color: #bcaaa4;
}
**/